#task{
    color: red;
        
        
}

#typology{
    color:lightgreen;
}

#emp{
    color:lightskyblue;
}

li{
    list-style-type: none;   
    font-size: 20px;
    color:lightyellow;
    text-decoration: none;
        :hover{
            color: lime;
        }
}
a{
    font-size: 20px;
    color:lightyellow;
    text-decoration: none;
        :hover{
            color: lime;
        }
}